$color_principal:#fff;
$color_titulos:#B4AFAF;
$font_titulos:roboto;
$padding_news:0;
$margin_news:0;
$row_nav:0;
$border_bottom:1px solid #FA0D0D;
$font_p:Open Sans;
$color_fecha:#F20B0B;
$padding_titulos:2px;
$font-size_h5:20px;
$color_i:#FC0606;
$border:5px solid #F71515;
$margin_botton_titulo: 10px;
$width_titulo:150px;
$color_fecha:#FC0606;
$color_titulos_seg:#0D0C0C;
$none:none;
$line-height_fotos:0;
$padding_row:5px;
$background_boton:#ea4748;
$margin_boton_top:0;
$padding_boton: 5px 30px;
$absolute:absolute;
$margin_navigation:10px;
$top_divider:-10px;
$textos:#979393;
$tex_popular:240px;
