i{
	color:$color_i;
}

.fecha{
	color:$color_fecha;
	 line-height:$line-height_fotos;
}

.titulos_seg{
	color:$color_titulos_seg;
	font-family:$font_p;
	line-height:$line-height_fotos;
}

.titulos_segundo{
	color:$color_titulos_seg;
	font-family:$font_p;
}

.textos{
	color:$textos;
}

